*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Containers */

/* General Containers*/
.main-container{
    height: 900px;
    margin: 30px 0px;
}

.my-header{
    height: 70px;
}

.input-container, .my-header{
    background-color: #F4EEE9;
}


/* Right Side Containers*/
#right-side{
    height: 100%;
    border-left: 1px solid darkgray;
}

.msg-box{
    height: calc(900px - 140px);
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
}

.input-container{
    height: 70px;
}


/* Left Side Containers*/
#left-side{
    height: 100%;
}

/* End of Containers */


/* LEFT SIDE */

.my-user-buttons i{
    color: #B0B1B0;
    margin: 0px 5px;
}

.my-user-buttons button{
    border: none;
    background-color: transparent;
}

.my-user-buttons button:hover{
    background-color: transparent;
}

.contacts{
    cursor: pointer;
}

.contacts:hover{
    background-color: #F4EEE9;
}

.my-text-sm-grey{
    font-size: 13px;
    color: #B0B1B0;
}

.last-acces{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 11px;
    color: #B0B1B0;
    font-weight: bold;
}

/* LEFT SIDE NOTIFICATION BOX */

.fa-bell-slash{
    background-color: white;
    padding: 26px 12px;
    border-radius: 50%;
}

/* LEFT SIDE SEARCH BOX */

.my-search-form{
    outline: none;
    border: none;
    width: 100%;
}

/* RIGHT SIDE */

/* RIGHT SIDE INPUT MESSAGE BOX*/

.my-input-message-form{
    outline: none;
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px;
}

.my-input-message-form:focus{
    transition: 1s;
    outline: 1px solid #B0B1B0;
}

/* RIGHT SIDE MESSAGE-BOX MESSAGE */

.msg-box{
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.received-msg{
    float: left;
}

.sent-msg{
   float: right;
}

.received-msg-style, .sent-msg-style{
    position: relative;
    margin: 10px 60px 10px 60px;
    border-radius: 12px;
    padding: 13px 20px;
    width: 280px;
    word-break: break-all;
}


.received-msg-style{
    background-color: white;
}

.sent-msg-style{
    background-color: #D5F9BB;
}

.msg-time{
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-size: 8px;
    color: #B0B1B0;
}

/* MESSAGE DROPDOWN */

#message:hover .msg-option{
    display: block;
}

.msg-option{
    position: absolute;
    right: 7px;
    top: 2px;
    font-size: 12px;
    color: #B0B1B0;
    display: none;
    cursor: pointer;
}

.my-dropdown{
    z-index: 999;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 10px;
    
}

.my-dropdown span:hover{
    background-color: #F4EEE9;
    cursor: pointer;
}




/* Image settings */

.avatar-img{
    width: 50px;
    border-radius: 50%;
    background-color: white;
}


/* Colors & Backgrounds */

.my-bg-body{
    background-image: linear-gradient(#009788 15%, #DADBD5 15%, #DADBD5 100%);
    overflow: hidden;
}

.my-bg-grey{
    background-color: #F4EEE9;
}

.my-bg-aquamarine{
    background-color: #8EDAFC;
}

.my-grey{
    color: #B0B1B0;
}

.my-aquamarine{
    color: #8EDAFC;
}


.my-light-grey{
    color: #F4EEE9;
}


